.button {
  border: none;
  background-color: #197278;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding: 1.5rem 2rem;
  &:active {
    transform: scale(0.95);
  }
}

.signupbutton:hover {
  background-color: lighten($color: #197278, $amount: 10);
}

.button--alt {
  background-color: transparent;
  padding: 1.5rem;
  color: #197278;
}

.button--create {
  padding: 1.5rem;
  background-color: darken(#197278, 5);
}

.btn-danger {
  background-color: firebrick;
  &:hover {
    background-color: lighten(firebrick, 10);
  }
}

.btn-primary {
  background-color: #197278;
  &:hover {
    background-color: lighten(#197278, 10);
  }
}

.btn-secondary {
  background-color: #777;
  margin-right: 2.5rem;
  &:hover {
    background-color: lighten(#777, 10);
  }
}

@media (max-width: $desktop-breakpoint) {
  .button {
    padding: 1rem;
    font-size: 1rem;
    //background-color: complement($color: #b80808);
  }
}
