.content-container {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  @extend .content-container;
  max-width: 80vw;
  margin-top: 5rem;
  background-color: #faf9f9;
  padding-top: 5rem;
  //padding-right: 5rem;
}

.main-container__title {
  color: #333;
  letter-spacing: 1px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.item-page-container {
  max-width: 70vw;
  margin: 3rem auto;
  padding: 3rem;

  &__content {
    background-color: #f7f7f7;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    padding: 3rem;
    margin-top: 4rem;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    margin-left: 8rem;
    flex: 1;
    align-self: flex-start;
    text-align: justify;
  }

  &__img {
    width: 50%;
    height: 50%;
    margin-bottom: 4rem;
    //flex: 0 0 10%;
  }
  &__header {
    flex: 0 0 100%;
    color: #6b0504;
  }
  &__date {
    flex: 0 0 100%;
    color: darken(#197278, 5);
  }
}

@media (max-width: $desktop-breakpoint) {
  .main-content {
    flex-direction: column;
  }
  .item-page-container {
    &__img {
      width: 100%;
      margin-bottom: 2rem;
    }
    &__text {
      margin: 0 0 2rem;
      text-align: left;
    }
  }
}
