.header {
  background-color: #f4f2f2;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
}

.header__content {
  display: flex;
  padding: $s-size;
  justify-content: space-between;
}

.header__title {
  color: #333;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
