.postlist {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  background-color: #fff;
}

.sidebar {
  width: 30%;
  border-left: 2px solid #197278;
  border-top: 2px solid #197278;
  background-color: #fff;
  max-height: 80vh;
  background-color: salmon;
}

.home-post-item {
  // display: flex;
  // flex-direction: column;
  width: 48%;
  margin: 0.5rem;
}

.home-post-item__title {
  text-decoration: none;
  color: #6b0504;
}

.home-post-item__img {
  width: 80%;
  height: 60%;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.newsletter__content {
  @extend .newsletter;
  min-height: 10rem;
  justify-content: space-around;
  button {
    padding: 1rem;
    border: none;
  }
}

@media (max-width: $desktop-breakpoint) {
  .postlist {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .sidebar {
    display: none;
  }
  .home-post-item {
    width: 90%;
  }
  .home-post-item__title {
    text-align: left;
  }
}
