.searchbox {
  font-weight: 300;
  font-size: 1.8rem;
  padding: 1.1rem;
  margin: 0 4rem;
  border: 1px solid #ccc;
}

.filters {
  text-align: center;
  padding-right: 2.5rem;
  margin-bottom: 3rem;
}

.signup {
  @include input;
  padding: 1.2rem;
}

@media (max-width: $desktop-breakpoint) {
  .DateRangePickerInput {
    display: none;
  }
  .searchbox {
    padding: 0.5rem;
    margin: 0;
    font-size: 1.3rem;
  }
  .filters {
    text-align: center;
  }
}
