.form {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  textarea {
    min-height: 20vh;
  }
}

.form-control {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-control:focus {
  outline: none;
}

.form__error {
  font-style: italic;
  color: firebrick;
}

@media (max-width: $desktop-breakpoint) {
  .form-control {
    border-radius: 0;
    border-bottom: 1px solid #777;
  }
}
